node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env


config/config.json

.npm/


.node_repl_history


.DS_Store
Thumbs.db


.idea/
.vscode/
*.swp


dist/
build/


yarn.lock
pnpm-lock.yaml


coverage/


temp/
tmp/


.sequelize-meta.json
